<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rongke.mapper.ConstraintPaymentRecordMapper" >
  <resultMap id="BaseResultMap" type="com.rongke.model.ConstraintPaymentRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="requestno" property="requestno" jdbcType="VARCHAR" />
    <result column="merchantno" property="merchantno" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="bank_card_no" property="bankCardNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="banksuccessdate" property="banksuccessdate" jdbcType="VARCHAR" />
    <result column="yborderid" property="yborderid" jdbcType="VARCHAR" />
    <result column="errormsg" property="errormsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, requestno, merchantno, status, order_id, user_id, phone, id_card, name, bank_card_no, 
    create_time, amount, banksuccessdate, yborderid, errormsg
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from constraint_payment_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from constraint_payment_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.rongke.model.ConstraintPaymentRecord" >
    insert into constraint_payment_record (id, requestno, merchantno, 
      status, order_id, user_id, 
      phone, id_card, name, 
      bank_card_no, create_time, amount, 
      banksuccessdate, yborderid, errormsg
      )
    values (#{id,jdbcType=BIGINT}, #{requestno,jdbcType=VARCHAR}, #{merchantno,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{orderId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{phone,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{bankCardNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{amount,jdbcType=DECIMAL}, 
      #{banksuccessdate,jdbcType=VARCHAR}, #{yborderid,jdbcType=VARCHAR}, #{errormsg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rongke.model.ConstraintPaymentRecord" >
    insert into constraint_payment_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="requestno != null" >
        requestno,
      </if>
      <if test="merchantno != null" >
        merchantno,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="bankCardNo != null" >
        bank_card_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="banksuccessdate != null" >
        banksuccessdate,
      </if>
      <if test="yborderid != null" >
        yborderid,
      </if>
      <if test="errormsg != null" >
        errormsg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="requestno != null" >
        #{requestno,jdbcType=VARCHAR},
      </if>
      <if test="merchantno != null" >
        #{merchantno,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null" >
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="banksuccessdate != null" >
        #{banksuccessdate,jdbcType=VARCHAR},
      </if>
      <if test="yborderid != null" >
        #{yborderid,jdbcType=VARCHAR},
      </if>
      <if test="errormsg != null" >
        #{errormsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rongke.model.ConstraintPaymentRecord" >
    update constraint_payment_record
    <set >
      <if test="requestno != null" >
        requestno = #{requestno,jdbcType=VARCHAR},
      </if>
      <if test="merchantno != null" >
        merchantno = #{merchantno,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="bankCardNo != null" >
        bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="banksuccessdate != null" >
        banksuccessdate = #{banksuccessdate,jdbcType=VARCHAR},
      </if>
      <if test="yborderid != null" >
        yborderid = #{yborderid,jdbcType=VARCHAR},
      </if>
      <if test="errormsg != null" >
        errormsg = #{errormsg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rongke.model.ConstraintPaymentRecord" >
    update constraint_payment_record
    set requestno = #{requestno,jdbcType=VARCHAR},
      merchantno = #{merchantno,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      phone = #{phone,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      bank_card_no = #{bankCardNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      amount = #{amount,jdbcType=DECIMAL},
      banksuccessdate = #{banksuccessdate,jdbcType=VARCHAR},
      yborderid = #{yborderid,jdbcType=VARCHAR},
      errormsg = #{errormsg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>