<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongke.mapper.DepartmentMapper">

    <resultMap type="com.rongke.model.Department" id="mDepartment" autoMapping="true">
    </resultMap>

    <sql id="mColumnsSql">
        id AS id,
        department AS department
    </sql>
</mapper>