<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongke.mapper.SecondCatalogueMapper">

    <resultMap type="com.rongke.model.SecondCatalogue" id="mSecondCatalogue" autoMapping="true">
        <association property="first_id" javaType="com.rongke.model.FirstCatalogue" autoMapping="true" />
    </resultMap>

    <sql id="mColumnsSql">
        id AS id,
        title AS title,
        first_id AS firstId
    </sql>
</mapper>