<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongke.mapper.TabaoLogMapper">

    <resultMap type="com.rongke.model.TabaoLog" id="mTabaoLog" autoMapping="true">
    </resultMap>

    <sql id="mColumnsSql">
        id AS id,
        user_id AS userId,
        task_id AS taskId,
        gmt_datetime AS gmtDatetime
    </sql>
</mapper>