<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongke.mapper.UserRiskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongke.model.UserRisk">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="loan_order_id" property="loan_order_id"/>
        <result column="create_time" property="createTime"/>
        <result column="rule0001" property="rule0001"/>
        <result column="rule0002" property="rule0002"/>
        <result column="rule0003" property="rule0003"/>
        <result column="rule0004" property="rule0004"/>
        <result column="rule0005" property="rule0005"/>
        <result column="rule0006" property="rule0006"/>
        <result column="rule0007" property="rule0007"/>
        <result column="rule0008" property="rule0008"/>
        <result column="rule0009" property="rule0009"/>
        <result column="rule0010" property="rule0010"/>
        <result column="rule0011" property="rule0011"/>
        <result column="rule0012" property="rule0012"/>
        <result column="rule0013" property="rule0013"/>
        <result column="rule0014" property="rule0014"/>
        <result column="rule0015" property="rule0015"/>
        <result column="rule0016" property="rule0016"/>
        <result column="rule0017" property="rule0017"/>
        <result column="rule0018" property="rule0018"/>
        <result column="rule0019" property="rule0019"/>
        <result column="rule0020" property="rule0020"/>
        <result column="rule0021" property="rule0021"/>
        <result column="rule0022" property="rule0022"/>
        <result column="rule0023" property="rule0023"/>
        <result column="rule0024" property="rule0024"/>
        <result column="rule0025" property="rule0025"/>
        <result column="rule0026" property="rule0026"/>
        <result column="rule0027" property="rule0027"/>
        <result column="rule0028" property="rule0028"/>
        <result column="rule0029" property="rule0029"/>
        <result column="rule0030" property="rule0030"/>
        <result column="rule0031" property="rule0031"/>
        <result column="rule0032" property="rule0032"/>
        <result column="rule0033" property="rule0033"/>
        <result column="rule0034" property="rule0034"/>
        <result column="rule0035" property="rule0035"/>
        <result column="rule0036" property="rule0036"/>
        <result column="rule0037" property="rule0037"/>
        <result column="rule0038" property="rule0038"/>
        <result column="rule0039" property="rule0039"/>
        <result column="rule0040" property="rule0040"/>
        <result column="rule0041" property="rule0041"/>
        <result column="rule0042" property="rule0042"/>
        <result column="rule0043" property="rule0043"/>
        <result column="rule0044" property="rule0044"/>
        <result column="rule0045" property="rule0045"/>
        <result column="rule0046" property="rule0046"/>
        <result column="rule0047" property="rule0047"/>
        <result column="rule0048" property="rule0048"/>
        <result column="rule0049" property="rule0049"/>
        <result column="rule0050" property="rule0050"/>
        <result column="rule0051" property="rule0051"/>
        <result column="rule0052" property="rule0052"/>
        <result column="rule0053" property="rule0053"/>
        <result column="rule0054" property="rule0054"/>
        <result column="rule0055" property="rule0055"/>
        <result column="rule0056" property="rule0056"/>
        <result column="rule0057" property="rule0057"/>
        <result column="rule0058" property="rule0058"/>
        <result column="rule0059" property="rule0059"/>
        <result column="rule0060" property="rule0060"/>
        <result column="rule0061" property="rule0061"/>
        <result column="rule0062" property="rule0062"/>
        <result column="rule0063" property="rule0063"/>
        <result column="rule0064" property="rule0064"/>
        <result column="rule0065" property="rule0065"/>
        <result column="rule0066" property="rule0066"/>
        <result column="rule0067" property="rule0067"/>
        <result column="rule0068" property="rule0068"/>
        <result column="rule0069" property="rule0069"/>
        <result column="rule0070" property="rule0070"/>
    </resultMap>

</mapper>
